RINKEBY_RPC_URL=***
GOERLI_RPC_URL=***
PRIVATE_KEY=***
PRIVATE_KEY1=***
PRIVATE_KEY2=***
ETHERSCAN_API_KEY=***
COINMARKETCAP_API_KEY=***
<!-- API... -->
API_URL=***
<!-- VRF_SUBSCRIPTION_ID... -->
UPDATE_FRONT_END=true
REPORT_GAS=true
AUTO_FUND=true


